body {
    background-color: #2a2b2f; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    color: #fff;
    text-align:center;
}

.info-text {
    font-size: 16px;
    color: #a8a8a8;
    margin-top: -10px;
    margin-bottom: 30px;
}

.mona-images {
    max-width: 400px;
    max-height: 400px;
    border: 8px solid #fff;
}

.haiku-containers {
    padding: 10px 0px 20px 0px;
}

.haikus {
    font-size: 18px;
    white-space: pre-wrap;
}

.footer {
    margin-top: 40px;
    padding: 20px;
    border-top: 1px solid #444;
}

.footer-text {
    font-size: 14px;
    color: #a8a8a8;
    line-height: 1.6;
}

.footer-text a {
    color: #58a6ff;
    text-decoration: none;
}

.footer-text a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .june-images {
        max-width: 340px;
        max-height: 340px;
    }

    .haikus {
        font-size: 22px;
    }
}
